/* Anastasia's part*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
.container {
  width: 1080px;
  margin: auto;
}

.first-section {
  background-image: url(./media/gradient-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  padding-top: 22px;
}
.logo {
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 68px;
  height: 26px;
}
.menu-items,
ul {
  display: flex;
  align-items: center;
  gap: 19px;
}
.logo:hover {
  opacity: 0.6;
}
.menu-items a:hover {
  opacity: 0.6;
}
.menu-items a {
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.3s ease;
}
.menu-items li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.ghost-button button {
  color: #ffffff;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
}
.normal-button button {
  background-color: #ffffff;
  color: #e17537;
  border: 1px solid #ffffff;
  border-radius: 16.5px;
  padding: 6px 13px 6px 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.menu-buttons button:hover {
  opacity: 0.6;
}
button {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-side {
  padding-top: 100px;
}
.left-side .content {
  width: 560px;
}
.left-side h1 {
  font-size: 83px;
  color: #3a3a3a;
  letter-spacing: -3.76;
  font-weight: 600;
  line-height: 97.76px;
}
.left-side p {
  font-size: 17px;
  color: #425466;
  padding-top: 32px;
  padding-bottom: 32px;
}
.left-side-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.black-button button {
  color: #ffffff;
  background-color: #0a2540;
  border: 1px solid #0a2540;
  border-radius: 16.5px;
  padding: 6px 13px 6px 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.black-button button:hover {
  opacity: 0.6;
}
.second-ghost-button button {
  color: #0a2540;
  border: none;
  background-color: transparent;
}
.second-ghost-button button:hover {
  opacity: 0.6;
}
.black-arrow {
  cursor: pointer;
}
.ghost-button-arrow {
  display: flex;
}
.first-section-hero {
  display: flex;
}
.content p {
  width: 460px;
}
.customers {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 114px;
}
.customer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.hero-wrapper {
  overflow-x: hidden;
}
.financial-payments-section {
  background-color: #f6f9fc;
  padding-top: 128px;
}
.financial-payments-section h2 {
  color: #0a2540;
}
.modular-solutions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.modular-solutions img {
  width: 540px;
  height: 540px;
}
.modular-solutions .info h6 {
  font-size: 16px;
  color: #635bff;
  font-weight: normal;
}
.modular-solutions .info h2 {
  font-size: 51px;
  line-height: 68px;
}
.modular-solutions .info p {
  font-size: 17px;
  color: #425466;
  line-height: 28px;
}
.info {
  width: 40%;
}
.info h2 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-icon p {
  font-size: 16px;
  color: #2e3a55;
}
.header-icon img {
  width: 20px;
  height: 20px;
}
.text-info h3 {
  font-size: 35px;
  color: #0a2540;
  line-height: 48px;
  padding-bottom: 24px;
}
.text-info p {
  font-size: 16px;
  color: #425466;
  line-height: 28px;
}
.feature-button button {
  border: none;
  color: #ffffff;
  font-size: 13px;
  background-color: #635bff;
  padding: 6px 13px 6px 13px;
  border-radius: 16.5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.feature-button button:hover {
  color: #ffffff;
  background-color: #0a2540;
  transition: 0.3s;
}
.feature-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-preview {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}
.see-also h5 {
  font-size: 15px;
  color: #0a2540;
  padding-bottom: 8px;
  padding-top: 30px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.list a {
  text-decoration: none;
  font-size: 14px;
  color: #635bff;
}
.list a:hover {
  color: #0a2540;
}
.list p {
  font-size: 14px;
  color: #425466;
}
.list p:nth-child(2) {
  font-weight: bold;
}
.feature-main-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.billing {
  padding-top: 250px;
  padding-bottom: 250px;
}
.conect {
  padding-bottom: 200px;
}
.issuing{
  padding-bottom: 200px;
}
/* end of Anastasia's part*/

/* avtos part */
.avto-first-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 885px;
  background-image: url(./media/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.first-content {
  width: 1080px;
  height: 496px;
}

.bottom-four-elements {
  display: flex;
  margin-top: 105px;
  gap: 55px;
}

.first-content {
  display: flex;
  flex-direction: column;
}

.first-element {
  margin-bottom: 18px;
  margin-top: 3px;
}

.second-element {
  margin-bottom: 18px;
}

.bottom-text {
  width: 220px;
  height: 44px;
  font-size: 13.71px;
  line-height: 24px;
  color: #adbdcc;
}

.bottom-text a {
  text-decoration: none;
  color: #00d4ff;
  font-weight: bold;
}

.bottom-text a:hover {
  color: white;
}

.third-element p {
  width: 390px;
  height: 140px;
}

.first-element h5 {
  font-size: 17.16px;
  color: #00d4ff;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-left: 13px;
}

.second-element h2 {
  font-size: 35.18px;
  line-height: 48px;
  color: #ffffff;
  margin-left: 13px;
}

.third-element p {
  font-size: 17.72px;
  line-height: 28px;
  color: #adbdcc;
  margin-left: 13px;
}
.bottom-four-elements h2 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: white;
}

.stat-item {
  display: flex;
}

.vertical-line {
  width: 1px;
  height: 24px;
  background-color: #00d4ff;
  margin-right: 13px;
  margin-top: 4px;
}
.section-2 {
  margin-left: 230px;
}
.section-2 h3 {
  font-size: 16.45px;
  color: #635bff;
  letter-spacing: 0.2px;
  margin-top: 100px;
}
.section-2 p {
  width: 810px;
  height: 130px;
  color: #425466;
  font-size: 16.45px;
  letter-spacing: 0.2px;
  line-height: 28px;
}

.section-2 h1 {
  font-size: 34px;
  color: #0a2540;
  letter-spacing: -0.2px;
  margin-top: 25px;
}

.section-2 a {
  color: #635bff;
  text-decoration: none;
}

.section-2 button {
  background-color: #635bff;
  height: 33px;
  border-radius: 16px;
  width: 150px;
  color: white;
  border: none;
}

.section-3 {
  margin-left: 214px;
  margin-top: 60px;
}

.vertical-line-2 {
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #00d4ff;
  margin-right: 13px;
  margin-top: 5px;
}

.section2-main {
  display: flex;
}

.company-logos {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.section-2-second {
  margin-top: 70px;
  margin-bottom: 70px;
}

.section2-main-1 {
  display: flex;
}
.section-2 a:hover {
  color: black;
  font-weight: bold;
}
.vertical-line-3 {
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #635bff;
  margin-right: 13px;
  margin-top: 2px;
}

.vertical-line-4 {
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #635bff;
  margin-right: 13px;
  margin-top: 5px;
}

.section2-main h1 {
  color: #0a2540;
  font-size: 22.5px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.section2-main p {
  color: #425466;
  font-size: 14px;
  line-height: 24px;
  width: 180px;
}

.container-section2 {
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
  background-image: url(./media/Background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  background-position: calc(100% + 62px) center;
}
.bmw-picture {
  margin-top: 50px;
}

.colored-line {
  display: flex;
  width: 1060px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.line-section {
  flex: 1;
}

.red {
  background-color: rgb(198, 145, 145);
}

.blue {
  background-color: rgb(142, 142, 236);
}

.green {
  background-color: rgb(132, 185, 132);
}

.yellow {
  background-color: rgb(214, 214, 125);
}
.first-logo {
  width: 40px;
  height: 40px;
}
.second-logo {
  width: 92px;
  height: 28px;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-bottom: 128px;
}

/* the end of Avto's part */
